<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>

<app-hero-list-basic></app-hero-list-basic>
<!-- <app-data></app-data> -->
<footer> References
    <a href="https://angular.io/" > Angular.io  </a>
    <a href="https://universal.angular.io"> Angular universal </a>
    <a href="https://alligator.io/angular/"> Alligator.io </a>
    <a href="https://www.google.com"> Google </a>
</footer>